.loan-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.page-title-inline {
  font-size: 0.95rem;
  font-weight: 400;
  color: #666;
}

.btn-apply {
  margin: 0;
}

.mat-mdc-header-row  {
    background-color: #007DC5;
    color: white;
}

.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: #007DC5;
}


