<div class="edit-button" *ngIf="!isLoading && !loadError">
    <svg (click)="editForm()"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#007DC5" class="bi bi-pencil-square" viewBox="0 0 16 16">
      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
    </svg>
</div>



<mat-spinner *ngIf="isLoading" diameter="40" class="loading-spinner"></mat-spinner>
<div *ngIf="loadError" class="error-message">{{ loadError }}</div>
<form *ngIf="!isLoading && !loadError" class="form-container container tabbing-space" [formGroup]="companyDetailsForm">
    <div class="row">
        <div class="col-sm-4 tabbing-element">
            <mat-form-field>
                <mat-label>Company Name</mat-label>
                <input  formControlName="companyName" matInput>
            </mat-form-field>
        </div>
        <div class="col-sm-4 tabbing-element">
            <mat-form-field>
                <mat-label>Industrial Type</mat-label>
                <input  formControlName="industryType" matInput>
            </mat-form-field>
        </div>
        <div class="col-sm-4 tabbing-element">
            <mat-form-field>
                  <mat-label>DateOfEstablishment</mat-label>
                  <!-- <input  formControlName="dateOfEstablish" matInput [matDatepicker]="picker" >
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker> -->

                  <input matInput [matDatepicker]="dob" formControlName="dateOfEstablish">
                  <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                  <mat-datepicker #dob></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-sm-4 tabbing-element">
            <mat-form-field>
                <mat-label>Turnover(last 12months):</mat-label>
                <input  formControlName="turnover" matInput>
            </mat-form-field>
        </div>
        <div class="col-sm-4 tabbing-element">
            <mat-form-field>
                <mat-label>companyPan:</mat-label>
                <input  formControlName="companyPan" matInput>
            </mat-form-field>
        </div>
        <div class="col-sm-4 tabbing-element">
            <mat-form-field>
                <mat-label>GSTIN:</mat-label>
                <input  formControlName="gstin" matInput>
            </mat-form-field>
        </div>
    </div>
    <div class="tab-footer">
        <button (click)="saveDetails()" mat-raised-button color="primary" class="btn-submit">Submit</button>
        <button mat-raised-button>Cancel</button>
    </div>
</form>