<div class="taskboard-wrapper">
  <div class="module-nav-tabs">
    <a [routerLink]="['/']" class="link-tab">Home</a>
    <a [routerLink]="['/taskboard']" class="link-tab link-tab-active">Taskboard</a>
    <a [routerLink]="['/filterdata']" class="link-tab">Filter Data</a>
  </div>
  <div class="taskboard-header">
    <div class="file-export-bar">
      <mat-form-field appearance="outline" class="file-select-field">
        <mat-label>Select file format</mat-label>
        <mat-select multiple [(ngModel)]="docType">
          <mat-option *ngFor="let type of typeList" [value]="type.key">{{ type.value }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="downloadData()" class="export-btn">Export</button>
    </div>
  </div>
  <div class="taskboard-data-section">
    <table mat-table [dataSource]="taskBoardData" class="mat-elevation-z8">
       <ng-container matColumnDef="sno">
         <th mat-header-cell *matHeaderCellDef> Sno </th>
         <td mat-cell *matCellDef="let element"> {{element.id}} </td>
       </ng-container>
        <ng-container matColumnDef="fullname">
          <th mat-header-cell *matHeaderCellDef> FullName </th>
          <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
        </ng-container>
        <!-- <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container> -->
        <!-- <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Phone </th>
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container> -->
       <ng-container matColumnDef="dept">
         <th mat-header-cell *matHeaderCellDef> Dept </th>
         <td mat-cell *matCellDef="let element"> {{element.dept}} </td>
       </ng-container>
       <ng-container matColumnDef="salary">
          <th mat-header-cell *matHeaderCellDef> Salary </th>
          <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
        </ng-container>
   
       <ng-container matColumnDef="age">
         <th mat-header-cell *matHeaderCellDef> Age </th>
         <td mat-cell *matCellDef="let element"> {{element.age}} </td>
       </ng-container>
       <ng-container matColumnDef="empCode">
        <th mat-header-cell *matHeaderCellDef> EmpCode </th>
        <td mat-cell *matCellDef="let element"> {{element.empCode}} </td>
      </ng-container>
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     
    </table>
  </div>
</div>
