<!-- overview-page.component.html -->
<div class="overview-page">
    <a (click)="showLoanData()" class="back-link">
        <mat-icon>arrow_back</mat-icon> TaskBoard
    </a>
    <mat-spinner *ngIf="isLoading" diameter="40" class="loading-spinner"></mat-spinner>
    <div *ngIf="loadError" class="error-message">{{ loadError }}</div>
    <mat-tab-group *ngIf="!isLoading && !loadError" class="tabbing-group" [backgroundColor]="'warn'"
        [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
        <mat-tab label="Overview">
            <ng-template matTabContent>
            <div class="container tabbing-space">
                <table class="overview-table">
                    <tbody>

                        <tr>
                            <th class="readonly-label">Application ID:</th>
                            <td>{{ data?.appId }}</td>
                            <th class="readonly-label">Mobile:</th>
                            <td>{{ data?.mobile }}</td>
                        </tr>
                        <tr>
                            <th class="readonly-label">Company:</th>
                            <td>{{ data?.companyName }}</td>
                            <th class="readonly-label">Company Pan:</th>
                            <td>{{ data?.companyPan }}</td>
                        </tr>
                        <tr>
                            <th class="readonly-label">Mail:</th>
                            <td>{{ data?.mail }}</td>
                            <th class="readonly-label">Tenure:</th>
                            <td>{{ data?.tenure }}</td>
                        </tr>
                        <tr>
                            <th class="readonly-label">Loan Amount:</th>
                            <td>{{ data?.loanAmt }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Business Product">
            <ng-template matTabContent>
                <app-business-product></app-business-product>
            </ng-template>
        </mat-tab>
        <mat-tab label="Company Details">
            <ng-template matTabContent>
                <app-company-details></app-company-details>
            </ng-template>
        </mat-tab>
        <mat-tab label="Company Address">
            <ng-template matTabContent>
                <app-company-address></app-company-address>
            </ng-template>
        </mat-tab>
        <mat-tab label="Assurance Details">
            <ng-template matTabContent>
                <app-assurancedetails></app-assurancedetails>
            </ng-template>
        </mat-tab>
        <mat-tab label="Sales Report">
            <ng-template matTabContent>
                <app-salesreport></app-salesreport>
            </ng-template>
        </mat-tab>
        <mat-tab label="Transactions">
            <ng-template matTabContent>
                <app-trnsactions></app-trnsactions>
            </ng-template>
        </mat-tab>
        <mat-tab label="Txn Filters">
            <ng-template matTabContent>
                <app-transactionfilters></app-transactionfilters>
            </ng-template>
        </mat-tab>
        <mat-tab label="Txn Statement">
            <ng-template matTabContent>
                <app-transacation-statement></app-transacation-statement>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
