<div *ngIf="!id">
  <div class="action-bar" *ngIf="!showTaskboard && !showFilterData && !showLoanboard">
    <a [routerLink]="['/']" class="link-taskboard link-tab link-tab-active">Home</a>
    <a [routerLink]="['/taskboard']" (click)="showTaskboardData()" class="link-taskboard link-tab">Taskboard</a>
    <a [routerLink]="['/filterdata']" (click)="showFilterdataScreen()" class="link-taskboard link-tab">Filter Data</a>
  </div>
  <div class="home-search-bar" *ngIf="!showTaskboard && !showFilterData && !showLoanboard">
    <div class="search-input-wrapper">
      <mat-icon class="search-icon">search</mat-icon>
      <input type="text" [(ngModel)]="searchTerm" (keyup.enter)="searchEmployees()" placeholder="Search employees by name, department..." class="search-input" />
    </div>
    <button mat-raised-button color="primary" (click)="searchEmployees()" class="search-btn">Search</button>
  </div>
  <a *ngIf="showTaskboard || showFilterData" [routerLink]="''" (click)="back()" class="back-link">Back</a>

  <div *ngIf="!showTaskboard && !showFilterData && !showLoanboard" class="table-section">
    <mat-spinner *ngIf="isLoading" diameter="40" class="loading-spinner"></mat-spinner>
    <table width="100%" *ngIf="!isLoading && employeeData" mat-table [dataSource]="employeeData" class="mat-elevation-z8 table-wrapper" matSort>
      
    
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef (click)="sortData('id','ASC')">
            <span class="thead-title">SN</span>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

        <ng-container matColumnDef="fname">
          <th mat-header-cell *matHeaderCellDef (click)="sortData('fname','ASC')"> 
            <span class="thead-title">Emp code</span>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.fname}} </td>
        </ng-container>

        <ng-container matColumnDef="fullname"> 
            <th mat-header-cell *matHeaderCellDef (click)="sortData('fullname','ASC')"> 
            <span class="thead-title">fullname</span>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
        </ng-container>

        <ng-container matColumnDef="lname">
          <th mat-header-cell *matHeaderCellDef (click)="sortData('lname','ASC')"> 
            <span class="thead-title">LastName</span>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.lname}} </td>
        </ng-container>

      <ng-container matColumnDef="dept">
        <th mat-header-cell *matHeaderCellDef (click)="sortData('dept','ASC')"> 
            <span class="thead-title">dept</span>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.dept}} </td>
      </ng-container>

      <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef> 
            <span class="thead-title">age</span>
          </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>

      <ng-container matColumnDef="salary">
          <th mat-header-cell *matHeaderCellDef (click)="sortData('salary','ASC')"> 
            <span class="thead-title">salary</span>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
        </ng-container>

        <ng-container matColumnDef="operation">
          <th mat-header-cell *matHeaderCellDef> Details </th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-raised-button color="primary" (click)="openDialog(element)" class="btn-update">Update</button> 
            <button mat-raised-button color="primary" (click)="deleteEmployee(element.id)" class="btn-delete">Delete</button> 
          </td>
        </ng-container>
        

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="!isLoading && (!employeeData || employeeData.length === 0)" class="empty-state">
      <p>No employees found. Click "Add Employee" to create one.</p>
    </div>
  </div>
</div>