
<mat-drawer-container>
  <mat-drawer mode="side" opened class="sidenav"> 
    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="''" (click)="back()">Employee</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="'/loan'" (click)="showloanData()">Loan</a></li>
  </ul>
  </mat-drawer>
  <mat-drawer-content *ngIf="!id">
    <button *ngIf="!showTaskboard &&  !showFilterData && !showLoanboard" mat-raised-button color="primary" (click)="openDialog()" class="btn-add-employee">Add Employee</button> 
    <a *ngIf="!showTaskboard &&  !showFilterData && !showLoanboard " [routerLink]="'taskboard'" (click)="showTaskboardData()" class="link-taskboard">Taskboard</a>
    <a *ngIf="!showFilterData && !showTaskboard && !showLoanboard" [routerLink]="'filterdata'" (click)="showFilterdataScreen()" class="link-taskboard">filterData</a>
    <a *ngIf="showTaskboard || showFilterData " [routerLink]="''" (click)="back()">Back</a>
    <table  width="100%" *ngIf="!showTaskboard && !showFilterData && !showLoanboard" mat-table [dataSource]="employeeData" class="mat-elevation-z8 table-wrapper" matSort>
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef (click)="sortData('id', 'ASC')">
          <span class="thead-title">SN</span>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

        <ng-container matColumnDef="fname">
          <th mat-header-cell *matHeaderCellDef (click)="sortData('fname', 'ASC')"> 
            <span class="thead-title">Emp code</span>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.fname}} </td>
        </ng-container>

        <ng-container matColumnDef="fullname"> 
          <th mat-header-cell *matHeaderCellDef (click)="sortData('fullname', 'ASC')"> 
            <span class="thead-title">fullname</span>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
        </ng-container>

        <ng-container matColumnDef="lname">
          <th mat-header-cell *matHeaderCellDef (click)="sortData('lname', 'ASC')"> 
            <span class="thead-title">LastName</span>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.lname}} </td>
        </ng-container>

      <ng-container matColumnDef="dept">
        <th mat-header-cell *matHeaderCellDef (click)="sortData('dept', 'ASC')"> 
            <span class="thead-title">dept</span>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.dept}} </td>
      </ng-container>

      <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef> 
            <span class="thead-title">age</span>
          </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>

      <ng-container matColumnDef="salary">
          <th mat-header-cell *matHeaderCellDef (click)="sortData('salary', 'ASC')"> 
            <span class="thead-title">salary</span>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
        </ng-container>

        <ng-container matColumnDef="operation">
          <th mat-header-cell *matHeaderCellDef> Details </th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-raised-button color="primary" (click)="openDialog(element)" class="btn-update">Update</button> 
            <button mat-raised-button color="primary" (click)="deleteEmployee(element.id)" class="btn-delete">Delete</button> 
          </td>
        </ng-container>
        

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    </table>
 </mat-drawer-content>
</mat-drawer-container>
<router-outlet></router-outlet>